<div class="container">
    <div style="display: flex;flex-direction: row;">


        <div>
            <a href="/greetedNames"><button>BACK</button></a>
        </div>


        <div style="margin-left:30px;">
            <a href="/"><button>HOME</button></a>
        </div>

        
    </div>

    <h1>Greeted User Summary</h1>


    <h2 style="font-family:;arial; text-align:center">{{names}} has been greeted {{count}} time/s.</h2>


</div>