<div class="container">

        <div style="margin-right:650px;">
            <a href="/"><button>BACK</button></a>
        </div>

        {{!-- <div style="margin-left:30px;">
            <a href="/greetedNames/count"><button>NEXT</button></a>
        </div> --}}

    <h1>Greeted Users</h1>

    <table style="margin: auto; margin-top:20px;font-size: 20px;">
        {{#each list}}
        <tr>
            <td ><a href="/greetedNames/{{this}}">{{this}}</a></td>
        </tr>
        {{/each}}
    </table>
</div>