<div>
    <h1>Names Greeted</h1>

    <table>
        <tr>
            <th>Names</th>
        </tr>
        {{#each greetedNames}}
        <tr>
            <td><a href="/greetedNames/{{this}}">{{this}}</a></td>
        </tr>
        {{/each}}
    </table>
</div>