<div>
    <h1>Names Greeted</h1>

    <table>
        <tr>
            <th>Names</th>
            <th>Count</th>
        </tr>

        {{#each greetedNames}}

        <tr>
            <td>{{{Names}}</td>
            <td>{{Count}}</td>
        </tr>
        {{/each}}


    </table>

   
</div>