*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: rgb(72, 170, 170);
    padding: 50px;
}

.container{
    height: 550px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    background: whitesmoke;
    padding: 25px 30px;
    border-radius: 5px;
    text-align: center;
}

/* 3D effect */
.container{
    filter: blur(0.4px);
    box-shadow:

    /* bottom */
    0px 20px 20px rgba(0,0,0,0.2),
    0px 5px 10px rgba(0,0,0,0.2),

    /* long bottom */
    0px 70px 50px rgba(0,0,0,0.4),
    

    /* right */
    30px 50px 50px rgba(0,0,0,0.2),
   

    /* left  */
    -30px 50px 50px rgba(0,0,0,0.2);
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading{
    margin-bottom: 60px;
    border: rgb(72, 170, 170) solid;
    border-top-width: 1px;
    border-right-width: 3px;
    border-bottom-width: 1px;
    border-left-width: 3px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 5px;
}

input{
    padding-bottom: 5px;
    padding-top: 5px;
}

.second_div{
    display: flex;
    flex-direction: row;
    /* margin: 100px; */
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
}

.counts{
    margin-left: 10px;
}

.languages{
    display: block;
}

.languages {
    display: inline-block;
    text-align: center;
}
.languages label {
    display: block;
    margin: 18px;
    font-size: 15px;
    padding-bottom: 20px;
}

.radios{
    padding-top:30px;
    /* justify-content: space-around;
    align-items: stretch; */
}

.languageBtn{
    transform: scale(1.3);     
} 

button {
    font-size: 10px;
    border-radius: 5px;
    width: 70px;
    height: 30px;

}

button:hover + div{
    background-color: rgb(72, 170, 170);
}


.Buttons{
    margin-top: 20px; 
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    font-size: 5px;

    /* adjusting button size *
    /* transform: scale(1.2);  */
} 

/* .greet{
    padding-left:10px;
}  */


h2{

    margin-top: 30px;
    margin-right: 250px;

}

h3{
    margin-bottom: 20px;
}

.displayMsg{
    text-transform: capitalize;
}